.overall{
    width: 1000px;
    height: 2100px;
    border: 5px solid  #f7f6f5;
    margin-left: 270px;
    margin-top: 100px;
    background-color: #f7f6f5;
}
.look_at_your_far_meals{
    width: 1010px;
    height: 300px;
    margin-top: -20px;
    background-color: #FDBE35;
    display: inline-block;
    position: relative;
    left: -5px;
}
.img1{
    width: 230px;
    height: 123px;
    margin-left: 600px;
    margin-top: -126px;

}
.spans{
    margin-left: 170px;
    font-size: x-small;
}
.span2{
    margin-left: 150px;
    font-size: x-small;
}
.btn1{
    border: 1px solid #fdbe35;
    border-radius: 5px;
    margin-left: 15px;
    color: #fdbe35;
}
.p1{
    font-family: 'Dancing Script', 
    cursive; color: #f7f6f5;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 70px;
    display: inline-block;
}
.p2{
    font-size: 13px;
    margin-top: -21px;
    margin-left: 146px;
    margin-top: -29px;
}
.p3{
    background-color: #f7f6f5;
    width: 200px;
    height: 30px;
    margin-top: 4px;
    margin-left: 10px;
    display: inline;
    font-size: xx-small;
}
.p4{
    background-color: #f7f6f5;
    margin-top: 4px;
    margin-left: 150px;
    margin-right: 80px;
    display: inline-block;
    width: 355px;
    height: 26px;
    position: relative;
    top: -4px;
}
.img2{
    background-color: #f7f6f5;
    width: 50px;
    position: relative;
    bottom: -6px;
    left: 0px;
}
.div2{
    margin-top: -32px;
    margin-left: 421px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid white;
    width: 74px;
}
.div4{
    display: flex;
    height: 200px;
    margin-left: 171px;
}
.img4{
    width: 130px;
    height: 130px;
    margin-top: 40px;
    margin-left: 27px;
}
.div5{
    display: flex;
    justify-content: space-around;
    margin-top: 1px;
    margin-left: 1px;
}
.div6{
    display: flex;
    margin-left: 194px;
    display: inline;
}
.div7{
    display: flex;
    margin-left: 353px;
    margin-top: -17px;
}
.div8{
    display: flex;
    margin-left: 512px;
    margin-top: -12px;
    
}
.div9{
    
    display: flex;
    margin-left: 670px;
    margin-top: -14px;
}
.p5{
    margin-left: -577px;
    display: inline;
}
.p6{
    margin-left: 355px;
    margin-top: -33px;
}
.p7{
    margin-left: 514px;
    margin-top: -35px;
}
.p8{
    margin-left: 671px;
    margin-top: -32px;
}
body{
    background-color: rgb(199, 172, 139);
}

.div10{
    margin-left: 340px;
    display: inline;
    width: 500px;
    background-color: aqua;
    height: 5000px;
}
.div11{
    background-color: white;
    margin-left: 302px;
    margin-right: 240px;
    padding-left: 47px;
    box-shadow: 0px 5px 10px 0px #FFB515; 
    height: 70px; 
    padding-top: 15px;
}
.div13{
    border: 1px solid blanchedalmond;
    margin-top: 20px;
    background-color: blanchedalmond;
    position: relative;
    left: -4px;
    width: 1007px;
}
.div12{
    display: flex;
    margin-left: 150px;
    margin-right: 193px;
    margin-bottom: 20px;  
}
.div14{
    display: flex;
}
.div15{
    border: 2px solid #f7f6f5;
}
.div16{
    border: 2px solid #f7f6f5;
    margin-left: 191px;
    margin-right: 616px;
}
.div17{
    border: 2px solid  #f7f6f5;
}
.div18{
    margin-left: 445px;
    position: relative;
    top: -207px;
    margin-top: 40px;
}
.div19{
    border:  #f7f6f5;
}
.div20{
    border: 2px solid #f7f6f5;
    display: flex;
}
.div21{
    border: 2px solid #f7f6f5;
    display: flex;
}
.div22{
    border: 2px solid  #f7f6f5;
    display: flex;
}
.div23{
    border: 2px solid  #f7f6f5;
    margin-top: 50px;
}
.div24{
    border: 2px solid  #f7f6f5;
}
.div25{
    display: flex;
}
.div27{
    border: 2px solid;
    height: 334px;
    background-color: black;
    position: relative;
    left: -5px;
    width: 1007px;
}
.div28{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 40px;
    color: white;
    font-size: small;
}
.div29{
    display: flex;
    flex-direction: column;
    margin-left: 276px;
    margin-top: -205px;
    color: white;
    font-size: small;
}
.div30{
    margin-left: 386px;
    margin-top: -164px;
    color: white;
    font-size: small;
}
.img0{
    width: 750px;
    margin-left: 120px;
    height: 2px;
    margin-top: 39px;
}
.div31{
    font-size: small;
    color: aliceblue;
    margin-left: 678px;
    margin-top: -142px;
}
.div32{
    display: flex;
    height: 8px;
    margin-top: -6px;
}
.p9{
    margin-left: -1px;
}
.input1{
    width: 130px;
    background-color: #424242;
    position: relative;
    left: 3px;
    border: 1px solid  #424242;
}
.img5{
    margin-left: 0px;
    width: 12px;
    position: relative;
    left: 0px;
}
.div33{
    width: 151px;
    background-color: #424242;
    border: 3px solid #424242;
    height: 21px;
}
.btn2{
    margin-left: 160px;
    position: relative;
    top: -22px;
    background-color: #FFB800;
    border: #FDBE35;
    border-radius: 11px;
    height: 24px;
    font-size: xx-small;
}
.img6{
    width: 11px;
    margin-left: 221px;
    position: relative;
    top: -29px;
}